.home {
    @include boxmodel (15px ,15px auto, none, 15px);
    text-align: center;
    h1 {
        font-size: $titulos-mobile;
        font-weight: bold;
    }
    h2 {
        color: $color-primario;
        font-size: $subtitulos-mobile;
        font-weight: bolder;
        padding: 10px;
    }
    p {
        font-size: $parrafo-mobile;
        text-align: left;   
    }
    img {
        border-radius: 6px;
    }
}

.resumen {
    @include boxmodel (5px, auto, none, 0);
    .resumen-links{
        height: 200px;
        text-align: center;
        background-color: #234;
        display: flex;
        @include flexbox (space-around, center, column);
        @include boxmodel (0px, 5px auto, 4px solid #000, 4px);
        i {
            font-size: 90px;
        }
        h4 {
            width: 60%;
            &:hover {
                transform: scale(0.98);
            }
            a { 
                @include boxmodel (6px 30px, auto, 3px solid $color-primario, 25px);
                text-decoration: none;
                color: $color-blanco;
                font-size: 16px;
                font-weight: bolder;
                transition-duration: .2s;
                &:hover{
                    background-color: $color-primario;  
                    color: #234;
                }
            }
        }
    }
}

.resumen-icon-cuarto:hover{
    transform: rotatey(360deg);
    transition-duration: 1.5s;
}
.resumen-icon__container:hover i:nth-child(1){
    transform: rotatez(15deg);
    transition-duration: .5s;
}
.resumen-icon__container:hover i:nth-child(2){
    transform: rotatez(-15deg);
    transition-duration: .5s;
}

.resumen-icon-primario:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}

.resumen-icon-quinto:hover{
    transform: rotatez(40deg);
    transition-duration: .3s;
}

.platos {
    @include boxmodel (15px, 20px auto, none, none);
    text-align: center;
    h3{
        color:$color-primario;
        font-size: $titulos-mobile;
        font-weight: bolder
    }
    .platos-container {
        @include boxmodel (7px 10px, 15px auto, 2px solid #aaa, 6px);
        background-color: #234;
        img {
            border-radius: 4px;
            transition-duration: .3s;
            &:hover {
                transform: scale(1.07);
                box-shadow: 0px 2px 10px 0 $color-primario;
            }
        }

    }
}

.pie {
    background-color: #234;
    .pie-direccion, .pie-pago {
        @include boxmodel (15px 30px, auto , none, none);
        display:flex;
        @include flexbox (space-around,left,column);
        h4 {
            color: $color-primario;
            font-size: $subtitulos-mobile;
            font-weight: bold;
        }
        span {
            color: $color-blanco;
            font-size: $parrafo-mobile;
        }
    }
    .copy {
        background-color: #bbb;
        text-align: center;

    }
}


@media (min-width:768px) {
    .home{
        width: 95%;
        @include boxmodel (0, 50px auto,1px solid #000, 5px);
        height: 400px;
        display: flex;
        @include flexbox (space-around, center, row);
        .home-img {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0;
            }
        }
        .home-text {
            width: 50%;
            padding: 10px;
            overflow: hidden;
        }
    }
    .resumen{
        .resumen-links{
            border: none;
            border-radius: 0;
        }
    }
}


@media (min-width:1024px){
    .home {
        h1 {
            font-size: $titulos-desktop;
        }
        h2 {
            font-size: $subtitulos-desktop;   
        }
        p {
            font-size: $parrafo-desktop;   
        }
    }
    .pie {
        .pie-direccion, .pie-pago {
            h4 {
                font-size: $subtitulos-desktop;  
            }
            span {
                font-size: $parrafo-desktop;
            }
        }
    }
}