.home {
    @include boxmodel (15px ,15px auto, none, 15px);
    text-align: center;
    h1 {
        font-size: $titulos-mobile;
    }
    h3 {
        color: $color-primario;
        font-size: $subtitulos-mobile;
        padding: 10px;
    }
    p {
        font-size: $parrafo-mobile;
        text-align: left;   
    }
    img {
        border-radius: 6px;
    }
}

.resumen {
    width: 95%;
    @include boxmodel (15px, auto , none, 0);
    .resumen-links{
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: #234;
        display: flex;
        @include flexbox (space-around, center, column);
        @include boxmodel (0px, 10px auto, 4px solid #000, 4px);
        i {
            font-size: 90px;
        }
        h4 {
            width: 60%;
            &:hover {
                transform: scale(0.98);
            }
            a { 
                width: 100%;
                @include boxmodel (6px 30px, auto, 3px solid $color-primario, 25px);
                text-decoration: none;
                color: $color-blanco;
                font-size: 16px;
                font-weight: bolder;
                transition-duration: .2s;
                &:hover{
                    background-color: $color-primario;  
                    color: #234;
                }
            }
        }
    }
}

.resumen-icon-cuarto:hover {
    transform: rotatey(360deg);
    transition-duration: 1.5s;
}
.resumen-icon-secundario:hover {
    transform: rotatez(-30deg);
    transition-duration: .8s;
}
.resumen-icon-primario:hover {
    transform: scale(1.1);
    transition-duration: .8s;
}

.resumen-icon-quinto:hover {
    transform: rotatez(40deg);
}