$color-primario: #1CC760;
$color-secundario: #6B0529;
$color-terciario: #B8020B;
$color-cuarto:#EBB010;
$color-quinto: #002CEB;
$color-blanco: #fff;

$titulos-mobile:32px;
$subtitulos-mobile:24px;
$parrafo-mobile:14px;

$titulos-desktop:42px;
$subtitulos-desktop:28px;
$parrafo-desktop:18px;


$colores: (primario: $color-primario,secundario: $color-secundario,cuarto: $color-cuarto,quinto: $color-quinto);